<%= render 'navigation' %>
<div class="container">
    <h1>Editing rid</h1>

    <%= render 'form' %>
</div>

<div id="preventAadt" class="modal hide fade">
  <div class="modal-header">
    <button type="close" class="close" data-dismiss="modal">&times;</button>
    <h4><%= image_tag("warning-sign.jpg", size: "75x75") %>Cannot proceed to AADT w/ SOI</h4>
  </div>
  <div class="modal-body">
    <p>It seems that your Personal History Statement is currently incomplete. Please fill up the remaining forms before going to AADT w/ SOI. Some of the details of SOI are depending on your Personal History Statement.</p>
  </div>
  <div class="modal-footer">
    <button type="close" class="btn btn-inverse" data-dismiss="modal">Okay, I understand</button>
  </div>
</div>