<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "7th Marine Brigade", root_path, class: "brand" %>
    <ul class="nav">
      <li><%= link_to "PHS", PersonalDetail.find(@aadt.personal_detail_id) %></li>
      <li class="active"><a href="#">AADT with SOI</a></li>
    </ul>
  </div>
</div>
<div class="container">
    <h1>Editing aadt</h1>

    <%= render 'form' %>

</div>
